
<div style="margin-top: 50px;" class="container">
<div class="auth">
  <div class="row">

    <div  id="login" class="col s6 ">  

    <strong class="auth_text" id="_title">Set new password</strong>
    
    {{#if errorPassword}}
      <p class="alert">{{errorPassword}}</p>
    {{/if}}

      <form action="/auth/password" method="POST">
        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Input password"></span>
        </div>
 
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">

        <button class="btn btn-primary " type="submit">Reset</button>
      </form>
    </div>
  </div>
</div>
</div>